<div>
	<div class="submit-form">
		<div *ngIf="!submitted">
			<form [formGroup]="addPostForm">

				<div class="form-group">
					<label for="title">Title</label>
					<input [formControlName]="'title'"  type="text" class="form-control" id="title" required  name="title" />
					
				</div>

				<div class="form-group">
					<label for="description">Description</label>
					<textarea [formControlName]="'description'" class="form-control" id="description" required name="description"></textarea>
				</div>

				<button (click)="savePost()" class="rounded-pill container-fluid btn btn-success">Submit</button>
				
			</form>
		</div>

		<div *ngIf="submitted">
			<h4>submitted successfully!</h4>
			<button class="btn btn-success" (click)="newPost()">Add</button>
		</div>
	</div>
</div>
